@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<script src="@Url.Content("~/CrpMonPortal/Angular/Generales/Funciones.js")"></script>
<script src="@Url.Content("~/CrpMonPortal/Angular/Apps/LoginApp.js")"></script>
<script src="@Url.Content("~/CrpMonPortal/Angular/Controllers/LoginCtrl.js")"></script>

<div class="login-box" ng-controller="LoginCtrl">
    <div class="language-container">
        <div class="col-4 float-right">
            <select name="kddIdioma" kendo-drop-down-list="kddIdioma"
                    k-data-source="kddIdiomaDS"
                    k-options="kddIdiomaOPC"
                    style="width: 100%"></select>
        </div>
    </div>
    <div class="logo-enterprise">
        <img src="~/CrpMonPortal/Imagenes/logo.png" />
    </div>
    <div class="form-login">
        <form name="frmLogin" novalidate autocomplete="off">
            <div class="col-12">
                <input ng-model="ModeloLogin.vNombreUsuario" type="text" class="k-textbox UsuarioInput" id="txtUsuario" name="txtUsuario" style="width:100%;" placeholder="{{ModeloVista.lblUsuario}}" required />
                <div class="error">
                    <span ng-show="frmLogin.txtUsuario.$error.required">*</span>
                </div>
            </div>
            <div class="col-12">
                <input ng-model="ModeloLogin.vContrasena" type="password" class="k-textbox PassInput" id="txtContrasena" name="txtContrasena" style="width:100%;" placeholder="{{ModeloVista.lblPassword}}" required />
                <div class="error">
                    <span ng-show="frmLogin.txtContrasena.$error.required">*</span>
                </div>
            </div>
            <div class="col-12">
                <div class="error" data-ng-bind="AutenticarError"></div>
            </div>
            <div class="col-12 button-container">
                <button id="btnLogin" type="submit" class="k-button k-primary" ng-disabled="frmLogin.$invalid" ng-click="Ingresar()">
                    <img src="~/CrpMonPortal/Imagenes/Vistas/InicioSesion.png" />
                    <span>{{ModeloVista.btnLogin}}</span>
                </button>
                <button id="btnRefresh" type="reset" class="k-button">
                    <span>{{ModeloVista.btnCancelar}}</span>
                </button>
            </div>
            <div class="col-12">
                <span class="alert">{{ModeloVista.lblNoRegistro}} <a href="javascript:Registrar();">{{ModeloVista.linkRegistro}}</a></span>
                <span class="alert">{{ModeloVista.lblOlvidaPass}} <a href="javascript:alert('Funcionalidad en construcción.');">{{ModeloVista.linkRecuperar}}</a></span>
            </div>
        </form>
    </div>
</div>

<script>
    function Registrar() {
        $('.blocker').show();
        window.location.href = '@Url.Action("Registro", "Seguridad")';
    }
</script>